@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono:regular);

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 110vh;
    background-color: #e9e9ed;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 700px;
    width: 400px;
    background: #e9e9ed;
    box-shadow:  41px 41px 82px #c6c6c9,
            -41px -41px 82px #ffffff;
    border-radius: 50px;
    border: 1px solid #f4f4fa;
}

.top-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-title h3 {
    color: rgb(207, 206, 211);
}

.action {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 1;
    height: 150px;
    width: 250px;
    background: #76a16a;
    box-shadow: inset 19px 19px 38px #54724c, inset -19px -19px 38px #92c883;
    border-radius: 30px;
    width: 324px;
    border: 2px solid #f4f4fa;
}
.text-action {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
    padding: 2em;
    font-family: 'Share Tech Mono', monospace;
}
.answer {
    color: rgb(8, 36, 0);
}
.answer h3 {
    font-size: 2.4rem;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .75em;
}
.numbers button {
    padding: .5em;
    height: 3em;
    width: 3em;
    border: 1px solid #f4f4fa;

    background: linear-gradient(145deg, #f9f9fe, #d2d2d5);
    box-shadow:  5px 5px 10px #c6c6c9,
                -5px -5px 10px #ffffff;
    border-radius: 9999px;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.5em;
}
.numbers button:hover {
    cursor: pointer;
    background: linear-gradient(145deg, #d2d2d5, #f9f9fe);
    box-shadow:  5px 5px 10px #c6c6c9,
                -5px -5px 10px #ffffff;
}
.numbers button:active {
    background: #e9e9ed;
    box-shadow: inset 5px 5px 10px #c6c6c9,
                inset -5px -5px 10px #ffffff;
    color: rgba(71, 71, 127, 0.834);
}
button.equals {
    border: none !important;
    background: linear-gradient(to right, #76b852, #8dc26f) !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}
button.equals:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    background: linear-gradient(to right, #80c859, #9cd77a) !important;
}
button.equals:active {
    background: linear-gradient(to right, #8fe163, #a9ea83) !important;
}
.zero {
    width: 156px !important;
}

.footer {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 2em;
}
.footer ul li {
    color: #6d6d70;
}
.footer ul li a {
    color: #6d6d70;
    text-decoration: none;
}
.footer ul li a:hover {
    text-decoration: underline;
}